

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto+Mono&family=Roboto:wght@700&family=Tilt+Warp&display=swap');
body {
background-color: rgb(38, 235, 113);
display: flex;
justify-content: center;
align-items: center;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Warp', cursive;
overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.completed{
  text-decoration:line-through;
  color:rgb(158, 13, 13) ;
}
input{
  border: none;
  /* position: fixed; */
  height:40.38px;
  /* border-radius:1rem; */
  padding:0 20px;
  background-color: #c8ffef;
 align-items: center;
  
  width:20rem;
}
button{
  color:#ffffff;
  background-color:rgb(38, 235, 113);
  height:40.39px;
  width:max-content;
  /* border-radius:1rem; */
position:relative;
font-weight: 400;
/* right:4rem; */
border: none;
padding: 12px;
transition: background-color .2s linear;
}
.main{
padding:2rem;
/* margin:.4rem; */
border: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#root{
  background-color: rgba(23, 23, 24, 0.904);
 top :5rem;
 z-index: 100;
 display: flex;
 position: relative;
 width:fit-content;
 align-items: center;
 justify-content: center;
}
input:focus {
  outline: none;
}
.todos{
  border-radius: 5px;
 margin:5px 0px;
  /* margin:10px; */
  position: relative;
  display: flex;
  color:white;
  background-color: rgb(38, 235, 113);
  width:25rem;
  justify-content: space-between;
  padding:0px 20px;
  height:fit-content;
  transition:1s linear;
}
form{
  width: max-content;
  margin-bottom: 2rem;
  display: flex;
}
.aws{
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-inline--fa{
  padding:0 8px;
}
p{
  margin:10px;
}
h1{
  text-align: center;
  color: #f8f8f8;
  font-weight: 900;
  position: relative;
  bottom:1rem;
}
button:hover{
  background-color:rgb(25, 160, 77);
}
@media only screen and (max-width: 550px) {
 #root{
  top:20rem;
/* left:15px; */
/* padding-left:40px; */
 }
}
@media only screen and (max-width: 517px) {
 #root{
  width:90%;
  top:15rem;
 }
 body{
  width:90vh;
 }
 .main{
  position: relative;
  width:100%;
 }
 form{
  position: relative;
  align-items: center;
  justify-content: center;
  width:100%;
 }
 input{
  font-size: 1.4rem;
  width:70%;
  height:3rem;
 }
 button{
  font-size: 1.3rem;
  height: 3rem;
  width:20%;
 }
 .todos{
 font-size: 1.6rem;
  width:90%;
 }
 h1{
  font-size: 3rem;
  letter-spacing: 2px;
 }
 }

 button:hover{
cursor: pointer;
 }
 
 